@charset "utf-8";

/* Base style */

body {
  font-family: 'Noto Sans JP', 'Helvetica Neue', 'Helvetica', 'Hiragino Sans', 'Hiragino Kaku Gothic ProN', 'Arial',
    'Yu Gothic', 'Meiryo', sans-serif;
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}

label,
input,
select,
textarea,
button {
  cursor: pointer;
}

button {
  border: none;
}

/* Grid */
.grid {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.grid-item {
  list-style: none;
}

.grid-col-2 > .grid-item {
  width: 50%;
}

.grid-col-3 > .grid-item {
  width: 33.3333%;
}

.grid-col-4 > .grid-item {
  width: 25%;
}

/* section */
.section {
  padding: 40px;
}

.section.section-secondary {
  background-color: #efefef;
}

.section-headline {
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  margin: 0 0 40px;
}

/* about */
.about {
  margin: 0;
  display: flex;
}

.about-caption {
  padding: 0 40px 40px 40px;
}

.about-headline {
  margin: 0 0 20px;
  font-size: 30px;
}

/* Feature */
.feature {
  text-align: center;
  padding: 0 15px;
}

.feature-headline {
  font-weight: bold;
  margin-bottom: 20px;
}

.feature-image {
  margin-bottom: 20px;
}

.feature-description {
  text-align: left;
  margin: 0;
}

/* Card */
.card {
  padding: 0 20px;
}

.card-link {
  display: block;
  color: #333;
  text-decoration: none;
  position: relative;
  transition: background-color 0.25s;
}

.card-link:hover {
  background-color: #eee;
}

.card-label {
  position: absolute;
  background-color: #999;
  color: #fff;
  display: block;
  padding: 5px 10px;
  font-size: 12px;
}

.card-image {
  width: 100%;
  height: auto;
}

.card-info {
  padding: 5px 10px;
}

.card-headline {
  margin: 0;
}

.card-description {
  margin: 0;
}

.avatar {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: center;
  padding: 10px;
}

.avatar-name {
  font-weight: bold;
  padding-left: 15px;
}

.avatar-image {
  margin: 0;
  border-radius: 50%;
  overflow: hidden;
}

/* button */
.button {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  background-color: #333;
  text-align: center;
  padding: 15px 60px;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: 5px 5px 0 #bbb;
  transition: box-shadow 0.25s;
}

.section-button {
  margin-top: 40px;
  text-align: center;
}

.button:hover {
  box-shadow: 0 0 0 #bbb;
}

.button.button-secondary {
  background-color: #92d3ca;
}

/* form */
.select {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
  margin-bottom: 10px;
}

.input {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
  margin-bottom: 10px;
}

.radio {
  margin: 20px 10px 20px 10px;
}

.textarea {
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  min-width: 500px;
  margin-top: 10px;
  margin-bottom: 30px;
  min-height: 100px;
}

.form-table {
  margin: 0 auto;
}

.form-table th {
  text-align: left;
}

.form-button {
  text-align: center;
}
